body{
background-color:  #3e777d;
margin:0;


}

.logo{

  margin:0;
  text-align: center;
 
}

.logo2{
  width: 500px;
  height: 500px;
  background-image: url(../public/Game\ On.png);
}
.cuerpo{
  display: flex;
}
h2{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.grafica{
  width: 1000px;
  height: 1000px;
  padding:40px;
  }